body{
    margin: 0;
}

header{
    background-color: #342E37;
    
}

.search-bar{
    width: 450px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul{
    list-style: none;
    display: flex;
}

.links li{
    padding: 10px;
}